<div class="jumbotron text-danger bg-dark font-weight-bolder">
  <span class="text-center font-weight-bolder">
    <h1>zomato</h1>
  </span>

    <form action="">
      <label for="">SEARCH FOR RESTAURANT</label>
      <input
        type="text"
        class="input streched col-lg-12 rounded"
        #restaurant
        placeholder="Search for related restaurant"
        required
      />
      <br>
      <br>
      <label for="range" ><h5 class="">Maximum restaurant</h5></label>
      <input type="number" name="range" class="streched col-lg-12 rounded" #restaurant_max>
      
    </form>
    <br />
    <button
      class="btn btn-warning offset-lg-5"
      (click)="appZomatoApi.search(restaurant.value, restaurant_max.value)"
    >
      click to search
    </button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <app-zomato-api #appZomatoApi></app-zomato-api>
    </div>
  </div>
</div>
